.alias-game {
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    position: relative;
}

h1 {
    color: #4CAF50;
    font-size: 3rem;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.current-description {
    color: #333;
    margin-bottom: 20px;
    height: 100px;
    overflow-y: auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.current-description :last-child {
    font-size: 1.5rem;
}

.input-form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

input {
    padding: 15px;
    font-size: 1rem;
    border: 2px solid #4CAF50;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 300px;
}

button[type='submit'] {
    margin-top: 20px;
    padding: 15px;
    font-size: 1rem;
    border: 2px solid #4CAF50;
    background-color: #4CAF50;
    color: #fff;
    border-left: none;
    border-radius: 0 5px 5px 0;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type='submit']:hover {
    background-color: #45a049;
}

button[type='button'] {
    margin-top: 20px;
    padding: 15px;
    font-size: 1rem;
    border: 2px solid #4CAF50;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

button[type='button']:hover {
    background-color: #45a049;
}

.history {
    font-size: 1rem;
    color: #555;
    margin-top: 20px;
    height: 400px;
    overflow-y: auto;
    width: 100%;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    box-sizing: border-box;
}

.history-entry {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.history-entry:last-child {
    margin-bottom: 0;
}

.history-entry p {
    margin: 5px 0;
}

.history-entry p:first-child {
    font-weight: bold;
    color: #333;
}