body, html, #root {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ff6a00, #ee0979);
}

p {
    color: white;
}

.alias-game {
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    position: relative;
}

h1 {
    color: #ffffff;
    font-size: 3rem;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.current-description {
    margin-bottom: 20px;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: bold;
    font-size: 1.2rem;
}

.current-description p {
    font-size: 1.5rem;
}

.input-form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

input {
    padding: 15px;
    font-size: 1rem;
    border: 2px solid #ffffff;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

input::placeholder {
    color: #dcdcdc; /* Light grey placeholder color */
}

button[type='submit'] {
    margin-top: 20px;
    padding: 15px;
    font-size: 1rem;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: #ff6a00;
    border-left: none;
    border-radius: 0 5px 5px 0;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type='submit']:hover {
    background-color: #dcdcdc;
}

button[type='button'] {
    margin-top: 20px;
    padding: 15px;
    font-size: 1rem;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: #ff6a00;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

button[type='button']:hover {
    background-color: #dcdcdc;
}

.history {
    font-size: 1rem;
    color: #ffffff;
    margin-top: 20px;
    height: 400px;
    overflow-y: auto;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
}

.history-entry {
    margin-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.history-entry:last-child {
    margin-bottom: 0;
}

.history-entry p {
    margin: 5px 0;
}

.history-entry p:first-child {
    font-weight: bold;
}

.history-entry .correct {
    color: #b8ff84;
    font-weight: bold;
}

.history-entry .incorrect {
    color: #ad1d3a;
    font-weight: bold;
}

.current-description .correct {
    color: #b8ff84;
    font-weight: bold;
}

.current-description .incorrect {
    color: #ad1d3a;
    font-weight: bold;
}